html, body {
    margin: 0;
    padding: 0;
    background-color: #1B1924;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

/* Typo */
h1, h2 {
    color: #FFFFFF;
    margin: 0;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 5px;
}
/* containers */

.app-container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 15px;
    max-width: 320px;
    margin: 0 auto;
    flex-grow: 1;
}
/* images */
.app-logo {
    width: 90px;
    display: block;
    margin: 50px auto 0 auto;
}
/* inpyts */

textarea {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    width: 100%;
    max-width: 320px;
    height: 120px;
    background: #444059;
    border: none;
    border-radius: 8px;
    padding: 12px 19px;
}

/* buttons */

.publish-btn {
    font-family: inherit;
    font-size: 22px;
    font-weight: 700;
    line-height: 60px;
    border-radius: 8px;
    color: #04131C;
    border: none;
    background-color: #28A9F1;
}

.publish-btn:hover {
    cursor: pointer;
}

/* lists */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

ul li {
    font-family: 'Inter', sans-serif;;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    color: #1B1924;
    background-color: #FFFFFF;
    padding: 12px 15px;
}